<nav class="navbar">
  <h1 routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/">School 21 Moscow Campus</a>
  </h1>
  <ul>
    <li routerLinkActive="active"><a routerLink="/users">Пользователи</a></li>
    <li routerLinkActive="active"><a routerLink="/register">Регистрация</a></li>
    <li><button class="btn">Выйти</button></li>
  </ul>
</nav>

<div class="container">
  <div class="card">
    <app-users></app-users>
  </div>

  <div class="card">
    <app-register></app-register>
  </div>
  <div class="card">
    <app-chat></app-chat>
  </div>
</div>
