<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <h1 class="text-center">{{ title }}</h1>
      <br>
      <table class="table table-bordered border-primary" border="3">
        <tr>
          <th scope="col">id</th>
          <th scope="col">email</th>
          <th scope="col">Логин</th>
          <th scope="col">display_name</th>
        </tr>
        <tr *ngFor="let user of users$ | async">
          <td>{{user.id}}</td>
          <td>{{user.email}}</td>
          <td>{{user.login}}</td >
          <td>{{user.display_name}}</td >
        </tr>
      </table>
    </div>
  </div>
</div>
