<!--<form>-->
<!--  <label for="login">Логин</label>-->
<!--  <input id="login" required name="login" type="text" [(ngModel)]="user.login">-->

<!--  <label for="password">Пароль</label>-->
<!--  <input id="password" required name="password" type="password" [(ngModel)]="user.password">-->

<!--  <label for="guild">Гильдия</label>-->
<!--  <input id="guild" required name="guild" type="text" [(ngModel)]="user.guild">-->

<!--  <input type="submit" value="Регистрация" (click)="postData(user)">-->
<!--</form>-->
<p [(ngModel)]="getUser()">d</p>
